body {
  background-color: #1d1f24;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
  color: #fcfcfc;
}

section {
  padding: 20px;
}

form {
  padding: 10px;
}

input,
button {
  color: #fcfcfc;
  background-color: #111;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #333;
}

input::placeholder {
  color: #fcfcfc6b;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

label {
  display: block;
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="file"] {
  min-width: 300px;
}

.tooltip {
  /* display: none; */
  white-space: pre;
  display: inline-block;
  position: absolute;
  padding: 5px;
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  transform: translate(-50%, 35px);
  pointer-events: none;
  box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 1);
  transition: all 0.1s;
  /* transition-delay: 0.05s; */

  opacity: 0;
}

.tooltip-time {
  font-size: 14px;

  font-family: "Courier Prime";
}

.has-tooltip:hover .tooltip {
  opacity: 1;
  transition-delay: 0s;
}
.talking-forms-section {
  display: none;
}

.file-selected .talking-forms-section {
  display: flex;
  justify-content: space-evenly;
}

#subtitle-start-form {
  /* NOTE: This form no longer needs to be visible */
  display: none;
}

#subtitle-end-form {
  /* NOTE: This form no longer needs to be visible */
  display: none;
}

.time-inputs,
.time-inputs * {
  font-size: 20px;
  font-family: "Courier Prime";
}
.time-inputs {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.time-inputs input {
  width: 25px;
  font-family: "Courier Prime";
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 5px 0px;
}

.time-inputs input:first-child {
  padding-left: 10px;
}

.time-inputs input:last-child {
  width: 37px;
  padding-right: 10px;
}

.time-inputs input.invalid {
  animation-name: invalid-ping;
  animation-duration: 0.5s;
}

.subtitles-time-period {
  display: inline-block;
  color: #fcfcfc6b;
  font-size: 16px;
  font-family: "Courier Prime";
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.subtitle-picker {
  display: none;
  width: 1000px;
  margin: auto;
  margin-bottom: 30px;
}

.file-selected .subtitle-picker {
  display: block;
}

.subtitles {
  display: grid;
  /* NOTE: This will be set by javascript */
  /* grid-template-columns: repeat(1000, auto); */
  grid-template-rows: auto;
  grid-gap: 1px;
  background-color: white;
}

.subtitle {
  background-color: black;
  min-height: 30px;
  grid-row: 1;
}

.subtitle:hover {
  background-color: blue;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

.time-scale {
  display: grid;
  grid-template-rows: auto;
  align-items: end;
  margin-bottom: -32px;
}

.time-scale div {
  border-left: 1px solid #505050;
  height: 37px;
  grid-row: 1;
}

.time-scale div:last-child {
  border-right: 1px solid #505050;
}

@keyframes invalid-ping {
  0% {
    color: #fcfcfc;
  }

  1% {
    color: rgb(255, 126, 126);
  }

  2% {
    color: red;
  }

  100% {
    color: #fcfcfc;
  }
}
