body {
  background-color: #272b33;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
}

section {
  padding: 20px;
}

form {
  padding: 10px;
}

input,
button {
  color: #fcfcfc;
  background-color: #111;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #333;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

label {
  display: block;
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="file"] {
  min-width: 300px;
}

#talking-forms-section {
  display: none;
}

.file-selected #talking-forms-section {
  display: flex;
  justify-content: space-evenly;
}

#subtitle-start-form {
  /* NOTE: This form no longer needs to be visible */
  display: none;
}

#subtitle-end-form {
  /* NOTE: This form no longer needs to be visible */
  display: none;
}

.time-inputs input {
  width: 16px;
}

.time-inputs input:last-child {
  width: 23px;
}

.time-inputs input.invalid {
  animation-name: invalid-ping;
  animation-duration: 3s;
}

#first-subtitle-form {
  display: none;
}

.file-selected #first-subtitle-form {
  display: block;
}

#last-subtitle-form {
  display: none;
}

.file-selected #last-subtitle-form {
  display: block;
}

.subtitles {
  display: grid;
  /* NOTE: This will be set by javascript */
  /* grid-template-columns: repeat(1000, auto); */
  grid-template-rows: auto;
  grid-gap: 1px;
  background-color: rgb(202, 205, 255);
}

.subtitle {
  background-color: #252525;
  min-height: 30px;
  grid-row: 1;
}

.subtitle:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: 0px 0px 10px #fff;
}

.subtitle:hover::after {
  content: attr(data-text) attr(data-time-period);
  white-space: pre;
  position: absolute;
  padding: 5px;
  background: white;
  border: 1px solid #444;
  border-radius: 5px;
  color: black;
  transform: translate(-50%, calc(-100% - 5px));
  pointer-events: none;
}

.time-scale {
  display: grid;
  grid-template-rows: auto;
  align-items: end;
  margin-bottom: -32px;
}

.time-scale div {
  border-left: 1px solid #000;
  height: 37px;
  grid-row: 1;
}

.time-scale div:last-child {
  border-right: 1px solid #000;
}

.subtitles-time-period::after {
  content: attr(data-subtitle-time-period);
  font-size: 14px;
}

@keyframes invalid-ping {
  0% {
    border-color: #333;
  }

  1% {
    border-color: rgb(255, 126, 126);
  }

  2% {
    border-color: red;
  }

  100% {
    border-color: #333;
  }
}
